#pickup-container{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.box-pickup{
    display: inline-block;
    width: 460px;
    height: 100%;
    overflow: auto;
    margin: 0px;
    vertical-align: text-top;

}

#map-result{
    display: inline-block;
    width: 240px;
    height: 375px;
    vertical-align: text-top;
    overflow: auto;
    padding: 15px 0px 0px 0px;
}

#end-pickup-container{
    width: 100%
}

.ready-countdown{
    float: right;
}

.pickup-avatar{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.box-pickup ul{
	margin: 15px 0px 0px;
	padding: 0px;
	list-style: outside none none;
	display: inline-block;
	width: 220px;
	vertical-align: top;
}

.box-pickup li + li {
    margin-top: 6px;
    font-family: Tahoma;
    font-weight: bold;
    position: relative;
}

.box-pickup li:first-child {
    font-family: "Roboto Condensed",sans-serif;
    /*background-color: #0D7ADA;*/
    background: url('../../front/image/nav/tab_background.png') repeat-x scroll 0% 0% transparent;
    padding-left: 3px;
        padding-left-value: 3px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
    font-weight: 400;
    font-size: 22px;
    white-space: normal;
    -moz-user-select: none;
    cursor: pointer;

}

.box-pickup li {
    border-left: 4px solid #606060;
    /*background-color: #4F4F4F;*/
    background-color: #383838;
    color: #CFCFCF;
    font-size: 15px;
    display: block;
    padding: 3px 6px;
    line-height: 24px;
    transition: all 0.1s ease-out 0s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /*cursor: pointer;*/
    height: 25px;
}

#connected-block-top li{
    padding: 2px 0px 4px 4px;
    margin-bottom: 1px;
    border-left: 4px solid #333;
    display: block;
    background-color: #333;
    width: 90%;
    /*cursor: pointer;*/
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.users-list{
    padding: 2px 0px 4px 10px;
    margin-bottom: 1px;
    border-left: 4px solid #FF4800;
    display: block;
    background-color: #383838;
    width: 90%;
    cursor: pointer;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.admin{
    border-left: 4px solid #C000DD;
}

.users-list:hover{
     border-left-color: #0D7ADA;
     background-color: #606060;
}


.box-pickup li:first-child:hover {
     border-left-color: #0D7ADA;
     background-color: #606060;
}

.scout-icon {
    background-image: url('classes/scout.png');
}

.soldier-icon {
    background-image: url('classes/soldier.png');
}

.demo-icon {
    background-image: url('classes/demo.png');
}

.medic-icon {
    background-image: url('classes/medic.png');
}


.class-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: transparent;
    vertical-align: middle;
    height: 25px;
    width: 25px;
}

#in-pickup-container{
    height: 31px;
    margin: 15px 0px 15px 0px;
}

#in-pickup{
    display: none;
}

#in-pickup > ul{
    margin: 0px 3px 4px 0px !important;
}

.select-map{    
    background-color: #2A2A2A;
    height: 31px;
    width: 220px;
    border: 0px;
    border-left: 4px solid #606060;
    cursor: pointer;
    color: #CFCFCF;
    font-size: 15px;
    font-family: Tahoma;
    font-weight: bold;
}

.select-map:hover{
    border-left-color: #0D7ADA;
}

.counter{
    float: right;
}

#chat-box-container{
    width: 100%;
    height: 300px;
}

#chat-box{
    display: inline-block;
    width: 75%;
    height: 100%;
    background: #333;
    overflow: auto;
    margin: 0px 0px 0px 0px;
    border-right: 4px solid black;
}

#connected-block{
    display: inline-block;
    width: 171px;
    height: 100%;
    background: #333;
    /*margin: 0px 0px 0px 3px;*/
    /*overflow: auto;*/
}

#connected-block-top{
    display: block;
    width: 100%;
    height: 20px;
    background: #333;
    color: white;
    font-weight: bold;
} 


#connected-block-bot{
    display: block;
    width: 100%;
    height: 280px;
    background: #333;
    overflow: auto;
}  


#input-message{
    width: 692px;
    border-radius: 0px;
}

.message ul{
    /*margin: 15px 0px 0px;*/
    padding: 0px;
    list-style: outside none none;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.message li {
    border-left: 4px solid #FF4800;
    background-color: #383838;
    color: #CFCFCF;
    display: block;
    transition: all 0.1s ease-out 0s;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}
 

.message-admin li {
    border-left: 4px solid #C000DD;
    background-color: #383838;
    color: #CFCFCF;
    display: block;
    transition: all 0.1s ease-out 0s;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}

.msgmessage{
    margin: 0px 5px 0px 10px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #CFCFCF;
}

.sep{
    height: 5px;
    background: transparent;
}
.sepsame{
    height: 1px;
    background: transparent;
}

.msgauthor{
    font-weight: bold;
    color: #CFCFCF;
}

.msgdate{
    display: block;
    float: right;
    padding-right: 5px;
}
.msgauthor{
    padding-left: 5px;
}

.small-pic{
    height: 70px;
}

.map-name{
   position: relative;
    bottom: 18px;
    background: none repeat scroll 0% 0% #333;
    left: 0px;
    margin: 0px;
    width: 180px;
    color: #FFF;
    padding: 0px 0px 0px 0px;
    line-height: 17px;
    font-weight: bold;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}

.map-name-small{
    position: relative;
    bottom: 18px;
    background: none repeat scroll 0% 0% #333;
    left: 0px;
    margin: 0px;
    width: 115px;
    color: #FFF;
    padding: 0px 0px 0px 0px;
    line-height: 17px;
    font-weight: bold;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
}

.map-pic{
    display: block;
}

#social-content{
    z-index: 2 !important;
}